In [1]:
# Step1. 모듈 임포트 및 객체 생성

In [2]:
import numpy as np
import pandas as pd

In [3]:
## Series()

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
## date_range()

In [7]:
dates = pd.date_range('20190101', periods=6)

In [8]:
print(dates)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
## DataFrame()

In [10]:
### random.randn()

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [12]:
print(df)

                   A         B         C         D
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249

In [13]:
### Series(, index= , dtype= )

In [14]:
df2 = pd.DataFrame({
    'C': pd.Series(1, index=list(range(3)), dtype='float32'),
    
})

In [15]:
print(df2)

     C
0  1.0
1  1.0
2  1.0

In [16]:
df2 = pd.DataFrame({
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    
})

In [17]:
print(df2)

     C
0  1.0
1  1.0
2  1.0
3  1.0

In [18]:
### Timestamp()

In [19]:
df2 = pd.DataFrame({
    'B': pd.Timestamp('20190101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    
})

In [20]:
print(df2)

           B    C
0 2019-01-01  1.0
1 2019-01-01  1.0
2 2019-01-01  1.0
3 2019-01-01  1.0

In [21]:
df2 = pd.DataFrame({
    'A': pd.Series(1, index=list(range(4)), dtype='float32'),
    'B': pd.Timestamp('2019-01-01'),
    'C': 1.0,
    # 'D': pd.Series(3, index=list(range(4)), dtype='int32'),
    #'D': np.array([3] * 4, dtype='int32'),
    'D': 3,
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo',
    
})

In [22]:
print(df2)

     A          B    C  D      E    F
0  1.0 2019-01-01  1.0  3   test  foo
1  1.0 2019-01-01  1.0  3  train  foo
2  1.0 2019-01-01  1.0  3   test  foo
3  1.0 2019-01-01  1.0  3  train  foo

In [23]:
print(df2.dtypes)

A          float32
B    datetime64[s]
C          float64
D            int64
E         category
F           object
dtype: object

In [24]:
## 데이터 보기

In [25]:
### head() : 데이터 프레임 위쪽 데이터 보기

In [26]:
df.head()

                   A         B         C         D
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-05  0.818991 -1.495017  0.273713  0.132045

In [27]:
### tail() : 데이터 프레임 아래쪽 데이터 보기

In [28]:
df.tail()

                   A         B         C         D
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249

In [29]:
### 특정 갯수 데이터만 보기

In [30]:
df.head(2)

                   A         B         C         D
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266

In [31]:
df.tail(2)

                   A         B         C         D
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249

In [32]:
### indx : 인덱스만 보기

In [33]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [34]:
### columns : 칼럼 이름만 보기

In [35]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [36]:
### describe() 통계 정보 보기

In [37]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.201245 -0.666757 -0.157919  0.148026
std    1.266426  1.414614  0.719663  0.658868
min   -1.787386 -1.919531 -1.371732 -0.537823
25%   -1.123359 -1.694624 -0.392978 -0.079823
50%   -0.181406 -1.067183 -0.050777 -0.013139
75%    0.592997 -0.149521  0.213924  0.106100
max    1.528943  1.800762  0.730656  1.408459

In [38]:
### T : 전치 행렬 구하기(인덱스와 칼럼 위치 바꾸기)

In [39]:
df

                   A         B         C         D
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249

In [40]:
df.T

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A   -1.787386   -1.405204   -0.084986    1.528943    0.818991   -0.277826
B   -0.639350   -1.919531    0.013755    1.800762   -1.495017   -1.761159
C   -0.136110   -1.371732   -0.478601    0.730656    0.273713    0.034556
D    1.408459    0.028266   -0.537823   -0.054544    0.132045   -0.088249

In [41]:
### sort() : 정렬하기

In [42]:
df

                   A         B         C         D
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249

In [43]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-01  1.408459 -0.136110 -0.639350 -1.787386
2019-01-02  0.028266 -1.371732 -1.919531 -1.405204
2019-01-03 -0.537823 -0.478601  0.013755 -0.084986
2019-01-04 -0.054544  0.730656  1.800762  1.528943
2019-01-05  0.132045  0.273713 -1.495017  0.818991
2019-01-06 -0.088249  0.034556 -1.761159 -0.277826

In [44]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459

In [45]:
df.sort_values(by='B')

                   A         B         C         D
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-04  1.528943  1.800762  0.730656 -0.054544

In [46]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2019-01-04  1.528943  1.800762  0.730656 -0.054544
2019-01-03 -0.084986  0.013755 -0.478601 -0.537823
2019-01-01 -1.787386 -0.639350 -0.136110  1.408459
2019-01-05  0.818991 -1.495017  0.273713  0.132045
2019-01-06 -0.277826 -1.761159  0.034556 -0.088249
2019-01-02 -1.405204 -1.919531 -1.371732  0.028266